# Feature Engineering

**1.load the data**

In [1]:
import pandas as pd
import numpy as np
df = pd.read_parquet("../data/curated/preprocessed_df.parquet")
df

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,airport_fee
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,1,14.5,3.0,3.65,0.0
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,1,8.0,0.5,4.00,0.0
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,1,7.5,0.5,1.76,0.0
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,2,8.0,0.5,0.00,0.0
7,2022-01-01 00:13:04,2022-01-01 00:22:45,2.02,238,152,2,9.0,0.5,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
8953421,2022-03-31 23:15:17,2022-03-31 23:25:47,2.82,230,151,1,11.0,0.5,2.96,0.0
8953422,2022-03-31 23:32:18,2022-03-31 23:38:31,1.21,238,43,1,6.5,0.5,2.06,0.0
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,1,5.0,0.5,1.76,0.0
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,1,9.0,0.5,0.00,0.0
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,1,14.5,0.5,3.66,0.0