# Feature Engineering

**1.load the data**

In [1]:
import pandas as pd
import numpy as np
df = pd.read_parquet("../data/curated/preprocessed_df.parquet")
df

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,airport_fee
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,1,14.5,3.0,3.65,0.0
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,1,8.0,0.5,4.00,0.0
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,1,7.5,0.5,1.76,0.0
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,2,8.0,0.5,0.00,0.0
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,1,17.0,0.5,5.20,0.0
...,...,...,...,...,...,...,...,...,...,...
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,1,5.0,0.5,1.76,0.0
8953425,2022-03-31 23:06:29,2022-03-31 23:28:41,4.60,113,238,2,18.0,3.0,0.00,0.0
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,1,9.0,0.5,0.00,0.0
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,1,14.5,0.5,3.66,0.0
8953429,2022-03-31 23:42:53,2022-04-01 00:07:22,5.30,141,129,2,19.5,0.5,0.00,0.0

In [2]:
# time of the day and day of week could be a useful feature for analysing
df['time of the day'] = df['tpep_pickup_datetime'].dt.hour
df['day of week'] = df['tpep_pickup_datetime'].dt.weekday+1
df

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,airport_fee,time of the day,day of week
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,1,14.5,3.0,3.65,0.0,0,6
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,1,8.0,0.5,4.00,0.0,0,6
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,1,7.5,0.5,1.76,0.0,0,6
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,2,8.0,0.5,0.00,0.0,0,6
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,1,17.0,0.5,5.20,0.0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,1,5.0,0.5,1.76,0.0,23,4
8953425,2022-03-31 23:06:29,2022-03-31 23:28:41,4.60,113,238,2,18.0,3.0,0.00,0.0,23,4
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,1,9.0,0.5,0.00,0.0,23,4
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,1,14.5,0.5,3.66,0.0,23,4
8953429,2022-03-31 23:42:53,2022-04-01 00:07:22,5.30,141,129,2,19.5,0.5,0.00,0.0,23,4

In [3]:
# get the duration for the trip for future use
df['duration(min)'] = (df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']).astype('timedelta64[s]')/60
df['duration(min)'] = df['duration(min)'].round(3)
df

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,airport_fee,time of the day,day of week,duration(min)
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,1,14.5,3.0,3.65,0.0,0,6,17.817
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,1,8.0,0.5,4.00,0.0,0,6,8.400
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,1,7.5,0.5,1.76,0.0,0,6,8.967
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,2,8.0,0.5,0.00,0.0,0,6,10.033
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,1,17.0,0.5,5.20,0.0,0,6,14.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,1,5.0,0.5,1.76,0.0,23,4,4.667
8953425,2022-03-31 23:06:29,2022-03-31 23:28:41,4.60,113,238,2,18.0,3.0,0.00,0.0,23,4,22.200
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,1,9.0,0.5,0.00,0.0,23,4,9.233
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,1,14.5,0.5,3.66,0.0,23,4,16.400
8953429,2022-03-31 23:42:53,2022-04-01 00:07:22,5.30,141,129,2,19.5,0.5,0.00,0.0,23,4,24.483

In [4]:
# Now I wanna predict the tips for cash paying by using the data from credit card
# firstly sum the other columns to get a total amout excluding the tip
# note that it is not seriously total payment because I drop some other payments
df['total_payment'] = df[['fare_amount','extra','airport_fee']].sum(axis=1)
df

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,airport_fee,time of the day,day of week,duration(min),total_payment
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,1,14.5,3.0,3.65,0.0,0,6,17.817,17.5
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,1,8.0,0.5,4.00,0.0,0,6,8.400,8.5
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,1,7.5,0.5,1.76,0.0,0,6,8.967,8.0
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,2,8.0,0.5,0.00,0.0,0,6,10.033,8.5
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,1,17.0,0.5,5.20,0.0,0,6,14.133,17.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,1,5.0,0.5,1.76,0.0,23,4,4.667,5.5
8953425,2022-03-31 23:06:29,2022-03-31 23:28:41,4.60,113,238,2,18.0,3.0,0.00,0.0,23,4,22.200,21.0
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,1,9.0,0.5,0.00,0.0,23,4,9.233,9.5
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,1,14.5,0.5,3.66,0.0,23,4,16.400,15.0
8953429,2022-03-31 23:42:53,2022-04-01 00:07:22,5.30,141,129,2,19.5,0.5,0.00,0.0,23,4,24.483,20.0

In [5]:
# next we want the mean ratio of tip amout and total payment
sub_df = df.loc[df['payment_type'] == 1,['tip_amount','total_payment']]
sub_df['tip_ratio'] = sub_df['tip_amount']/sub_df['total_payment']
mean_tip_ratio = sub_df['tip_ratio'].mean()

# apply the mean ratio to the cash payment
df.loc[df['payment_type'] == 2,'tip_amount'] = df['total_payment'] * mean_tip_ratio
df['tip_amount'] = df['tip_amount'].round(2)
df

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,airport_fee,time of the day,day of week,duration(min),total_payment
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,1,14.5,3.0,3.65,0.0,0,6,17.817,17.5
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,1,8.0,0.5,4.00,0.0,0,6,8.400,8.5
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,1,7.5,0.5,1.76,0.0,0,6,8.967,8.0
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,2,8.0,0.5,2.06,0.0,0,6,10.033,8.5
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,1,17.0,0.5,5.20,0.0,0,6,14.133,17.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,1,5.0,0.5,1.76,0.0,23,4,4.667,5.5
8953425,2022-03-31 23:06:29,2022-03-31 23:28:41,4.60,113,238,2,18.0,3.0,5.08,0.0,23,4,22.200,21.0
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,1,9.0,0.5,0.00,0.0,23,4,9.233,9.5
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,1,14.5,0.5,3.66,0.0,23,4,16.400,15.0
8953429,2022-03-31 23:42:53,2022-04-01 00:07:22,5.30,141,129,2,19.5,0.5,4.84,0.0,23,4,24.483,20.0

In [6]:
# now we can update the payment with the tips
df['total_payment'] = df['total_payment'] + df['tip_amount']
# and then we can drop all the other feature about the payment
df = df.iloc[:,[0,1,2,3,4,10,11,12,13]]
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,time of the day,day of week,duration(min),total_payment
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,0,6,17.817,21.15
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,0,6,8.400,12.50
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,0,6,8.967,9.76
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,0,6,10.033,10.56
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,0,6,14.133,22.70

In [7]:
# I want use earning efficiency (payment/time) for a tip to represent the
# earning rate for each singe tip
df['earning_efficiency'] = df['total_payment'] / df['duration(min)']
df

/tmp/ipykernel_13474/4166526787.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['earning_efficiency'] = df['total_payment'] / df['duration(min)']

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,time of the day,day of week,duration(min),total_payment,earning_efficiency
0,2022-01-01 00:35:40,2022-01-01 00:53:29,3.80,142,236,0,6,17.817,21.15,1.187069
1,2022-01-01 00:33:43,2022-01-01 00:42:07,2.10,236,42,0,6,8.400,12.50,1.488095
2,2022-01-01 00:53:21,2022-01-01 01:02:19,0.97,166,166,0,6,8.967,9.76,1.088435
3,2022-01-01 00:25:21,2022-01-01 00:35:23,1.09,114,68,0,6,10.033,10.56,1.052527
6,2022-01-01 00:20:50,2022-01-01 00:34:58,5.07,233,87,0,6,14.133,22.70,1.606170
...,...,...,...,...,...,...,...,...,...,...
8953423,2022-03-31 23:55:15,2022-03-31 23:59:55,0.80,230,142,23,4,4.667,7.26,1.555603
8953425,2022-03-31 23:06:29,2022-03-31 23:28:41,4.60,113,238,23,4,22.200,26.08,1.174775
8953426,2022-03-31 23:33:04,2022-03-31 23:42:18,1.90,238,152,23,4,9.233,9.50,1.028918
8953427,2022-03-31 23:03:08,2022-03-31 23:19:32,3.96,148,263,23,4,16.400,18.66,1.137805
8953429,2022-03-31 23:42:53,2022-04-01 00:07:22,5.30,141,129,23,4,24.483,24.84,1.014582

*I got a warning here, but I have no idea why, cause I've done so many similiar code before,##*
*and the result still seems to be fine, so I'll ignore it*

In [9]:
df['earning_efficiency'].describe()

count    7.309931e+06
mean     1.412328e+00
std      4.270876e+00
min      1.885415e-03
25%      1.036481e+00
50%      1.224438e+00
75%      1.509317e+00
max      1.461176e+03
Name: earning_efficiency, dtype: float64